.content{
    display: flex;
  
    align-items: center;
    height: 100vh;
}
h1{
    margin-bottom: 40px;
}
.estilo{
    padding: 30px 30px 30px 30px;
    margin-top: 50px ;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #a7a7a7;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5), inset 0px 0px 10px rgba(255, 248, 221, 0.5), 0px 0px 100px rgba(217, 217, 217, 0.5), 0px 0px 10px rgba(255, 255, 255, 0.5);
    outline: none;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
}

.input-custom{
    background-color: rgb(68, 68, 68);
    font-size: 18px;
    padding-left: 10px !important;
    margin-bottom: 10px;
    border-radius: 10px ;
}

@media (min-width: 900px) {
    .estilo {
        max-width: 300px;
        width: 100%; /* Esto asegura que no crezca más allá del ancho de la pantalla */
    }
}

@media (max-width: 700px) {
    .input-custom {
        font-size: 14px;
    }
.estilo{
    padding: 30px 20px 30px 20px;
}
}

/* Removed empty ruleset */